@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-theme: #006D2C; 
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}
.tiptap {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  outline: none;
}
.tiptap ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.tiptap ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.tiptap li {
  margin: 0.25rem 0;
}

.policy-description ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.policy-description p {
  font-size: 14px;
  font-weight: 400;
}

.policy-description ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.policy-description li {
  margin: 0.25rem 0;
}
